<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   Twittermenti

   Created by Ronaldo Gomes on 13/01/21.
   Copyright (c) 2021 London App Brewery. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
